%p
.row
  .col-md-10.col-md-offset-1.blog
    %thead
      %tbody
        - @blogposts.each do |blogpost|
          %tr
            %h1
              %td= link_to blogpost.title, blogpost
            %td= image_tag blogpost.image_url(:small)
            %p
            %td
              = show_date(blogpost)
              von
              = blogpost.get_display_name
            %br
            ***
            %br
            %td= blogpost.description
