%h1.spacer-m
  Bloggen und Posten

.row
  .col-md-10.col-md-offset-1.blog
    %ul.blog-list
      - @blogposts.each do |blogpost|
        %li
          %h2= link_to blogpost.title, blogpost
          %p
            = show_date(blogpost)
            von
            = blogpost.get_display_name
          = image_tag blogpost.image_url(:small) if blogpost.image_url
          %p= markdown blogpost.description
          .center-text
            %p ***
