%p#notice= notice

.blog
  %h1.spacer-m
    = @blogpost.title
  %p
    = show_date(@blogpost)
    von
    = @blogpost.get_display_name
  %p
    = image_tag @blogpost.image_url(:medium)

  %p
    = @blogpost.description


  .center-text
    %p
      ***
  - if user_signed_in?
    = link_to 'Edit', edit_blogpost_path(@blogpost)
    \|
  = link_to 'Back', blogposts_path
