%p#notice= notice

%h1
  = @blogpost.title
%p
  = image_tag @blogpost.image_url(:medium)
%p
  = show_date(@blogpost)
  von
  = @blogpost.get_display_name
%p
  ***
%p
  = @blogpost.description

- if user_signed_in?
  = link_to 'Edit', edit_blogpost_path(@blogpost)
  \|
= link_to 'Back', blogposts_path
