%h1.spacer-m
  Forgot your password?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field.spacer-s
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions.spacer-m
    = f.submit "Send me reset password instructions"

.center-text
  = render "devise/shared/links"
