%h1
  Zückt die Kalender!

%thead
  %tbody
    - @events.each do |event|
      %tr
        %td= nicify_date(event)

        %h2
          %td= event.name
        %td= event.location
        %br
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
