%h1
  Zückt die Kalender!

#eventlist
- @events.each do |event|

  %h4
    = nicify_start_date(event)
    - if event.recurring?
      Recurring Event
    ·
    = event.location
  %h2
    = link_to event.name, event_path(event.id, time: event.start_time)
  - if event.description?
    = event.description
  %p
    = link_to event.calendar.name, calendar_path(event)
  - if user_signed_in?
    %br
    = link_to 'Edit', edit_event_path(event)
    = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
  %br
    *

- if user_signed_in?
  %p
    = link_to 'New Event', new_event_path
