%h1
  Zückt die Kalender!

%thead
  %tbody
    - @events.each do |event|
      *
      %br
      %tr
        %td= nicify_date(event)
        %h3
          %td= link_to event.name, event
        %td= event.location
        %br
        /
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
        %br
  /
    %br
    = link_to 'New Event', new_event_path
