%h1
  Zückt die Kalender!

%thead
  %tbody
    - @events.each do |event|
      %tr
        %h3
          %td= link_to event.name, event
        %b
          %td= nicify_start_date(event)
          ·
          %td= event.location
        - if event.description?
          %br= event.description
        - if user_signed_in?
          %br
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
        %br
          *

- if user_signed_in?
  %p
    = link_to 'New Event', new_event_path
