%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Start time:
  = @event.start_time
  - if @event.location_url?
    %a{:href => @event.location_url}
      = @event.location
  - else
    = @event.location
%p
  %b End time:
  = @event.end_time
%p

- if user_signed_in?
  = link_to 'Edit', edit_events_path(@event)
  \|
= link_to 'Back', events_path
