%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  - if @event.location_url?
    %a{:href => @event.location_url}
      = @event.location
  - else
    = @event.location
%p
  %b
    = nicify_start_date(@event)
  um
  %b
    = nicify_start_time(@event)

  - if nicify_start_date(@event) == nicify_end_date(@event)
    bis

  - else
    %br bis
    %b
      = nicify_end_date(@event)
    um
  %b
    = nicify_end_time(@event)

%p

- if user_signed_in?
  = link_to 'Edit', edit_events_path(@event)
  \|
= link_to 'Back', events_path
