%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Start time:
  = @event.start_time
%p
  %b End time:
  = @event.end_time
%p
  %b Location:
  = @event.location

- if user_signed_in?
  = link_to 'Edit', edit_events_path(@event)
  \|
= link_to 'Back', events_path
