%p#notice= notice

%p
  %h1
    = @event.name
%p
  - if @event.location_url?
    %a{:href => @event.location_url}
      = @event.location
  - else
    = @event.location
%p
  %b
    = nicify_start_date(@event)
  um
  %b
    = nicify_start_time(@event)

  - if nicify_start_date(@event) == nicify_end_date(@event)
    bis

  - else
    %br bis
    %b
      = nicify_end_date(@event)
    um
  %b
    = nicify_end_time(@event)
%p
  = @event.description
%p
  %b
  = @event.calendar.name

- if user_signed_in?
  = link_to 'Edit', edit_event_path
  \|
= link_to 'All Events', events_path
