%p#notice= notice

.calendar.spacer-m
  = month_calendar events: @events do |date, events|
    = date.day
    %br
    - events.each do |event|
      = link_to event.name, event_path(event)
      %br

.center-text
  %p= link_to 'All calendars', calendars_path
