%p#notice= notice

= month_calendar events: @events do |date, events|
  = date

  - events.each do |event|
    = event.name
    = event.location


= link_to 'Edit', edit_calendar_path(@calendar)
\|
= link_to 'Back', calendars_path
