.container.footer-wrapper
  .row.spacer-s
    .col-sm-7
      %h3 Anderswo
      %ul.blank-list
        %li= link_to "Mastodon @heartofcode", "https://systemli.social/@heartofcode", rel: "me", title: "Mastodon"
        %li= link_to "Twitter @heartofcode", "https://twitter.com/heartofcode", title: "Twitter"
        %li= link_to "GitHub @heartsofcode", "https://github.com/heartsofcode/hoc_home", title: " GitHub"

    .col-sm-3
      %h3 Vereinskrams
      %ul.blank-list
        %li= link_to "Satzung", satzung_path()
        %li= link_to "Mitglitzerformular", mitgliedsformular_path()

    .col-sm-2
      %h3 Mitglitzer
      - if  user_signed_in?
        = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %ul.blank-list
          %li
            = link_to "Log in", new_user_session_path
  .row
    %p.col-sm-12
      ©
      = Time.now.year
      Heart of Code e.V.
