%header
  - if user_signed_in?
    = render "layouts/glitter-nav"

  %nav.nav
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only toggle menu
        %span 🍔
    #navbarCollapse.collapse.navbar-collapse
      %ul.navigation
        %li= link_to "about", about_path
        %li= link_to "kalender", calendar_path(1)
        %li
          = link_to root_path, title: "Heart of Code Startseite", class: "logo" do
            = image_tag "heartofcode42.jpg", id:"logo", alt: "Heart of Code Logo"
        %li= link_to "blog", blogposts_path
        %li= link_to "kontakt", kontakt_path
