!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zpoxxz", :name => "flattr:id"}/

    %title Heart of Code

    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "katze & krake", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:400,100,300,600,700|Annie+Use+Your+Telescope|Schoolbell|Sue+Ellen+Francisco|Just+Me+Again+Down+Here|Roboto:100,300,400,500|Roboto+Mono:400,100,300,500,700|Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
    .container.content-main-wrapper
      %nav.navbar.navbar-default
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        / Collection of nav links and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/about"} about
            %li
              %a{:href => "/calendars"} kalender
            %li
              %a{:href => "/participate"} mitmischen
            %li
              %a{:href => "/blogposts"} blog
            %li
              %a{:href => "/advent"} adventskalender
            %li
              %a{:href => "/contact"} kontakt

          %ul.nav.navbar-nav.navbar-right
            %li
              - if notice
                %p.alert.alert-success= notice
              - if alert
                %p.alert.alert-danger= alert
              - if user_signed_in?
                Logged in as
                = succeed "." do
                  %strong= current_user.email
                = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
              - else
                %li
                  %a{:href => "/users/sign_up"} Sign up
                %li
                  %a{:href => "/users/sign_in"} Login
      %br
        = image_tag "heartofcode42.jpg", id:"logo"

      = yield

  %footer.footer
    .container
      .col-sm-12.footer-wrapper
        %p.text-muted
          %div
          %p
          Follow us on Twitter
          %a{:href => "https://twitter.com/heartofcode", :title => "Heart of Code on Twitter"} @heartofcode
          ðŸ¦  |  Contribute on Github to
          %a{:href => "https://github.com/heartsofcode/hoc_home", :title => "Heart of Code code on GitHub"} our Code
          ðŸ’»
        %p
          Â© 2018 Heart of Code e.V.
