!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zpoxxz", :name => "flattr:id"}/
    %meta{charset: "utf-8"}

    = render 'application/favicon'

    %title Heart of Code

    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "Heart of Code", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/navigation'

    .container.content-main-wrapper
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert

      .content.row.tagline
        .col-lg-12.text-center
          %a.logo{href: "/", :title => "…the most beautiful and revolutionary ship ever built."}
            = image_tag "heartofcode42.jpg", id:"logo", alt: "Heart of Code logo"
      .row.content
        .container
          = yield

    %footer.footer
      .container= render 'layouts/footer'
