!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zpoxxz", :name => "flattr:id"}/

    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "Heart of Code", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:400,100,300,600,700|Annie+Use+Your+Telescope|Schoolbell|Sue+Ellen+Francisco|Just+Me+Again+Down+Here|Roboto:100,300,400,500|Roboto+Mono:400,100,300,500,700|Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container= render 'layouts/navigation'

    .container.content-main-wrapper
      .content.row.tagline
        .col-lg-12.text-center
          %a{:href => "/", :title => "…the most beautiful and revolutionary ship ever built."}
            = image_tag "heartofcode42.jpg", id:"logo"
      .row.content
        .container
          = yield

  %footer
    .content.container= render 'layouts/footer'
